database {
  name      = "posts"
  user      = "home"
  password  = "kit"
  limit     = 1
}
logger   {
  level     = "DEBUG"
}
# seconds
token    {
  lifetime  = 8640000
}
pool     {
  subpools  = 1
  time      = 40
  max_db_resources = 10
}
host_port {
  host = "http://localhost"
  port = 3000
}